{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">ssn</th>
        <th scope="col">test 1 scores</th>
        <th scope="col">test 2 scores</th>
        <th scope="col">test 3 scores</th>
        <th scope="col">test 4 scores</th>
        <th scope="col">Final Scores</th>
        <th scope="col">grade</th>
    </tr>
    </thead>
    <tbody>
    {% for score in scores %}
    <tr>
        <td><a href="view/{{score.id}}">{{ score.id }}</a></td>
        <td>{{ score.fldLName }}</td>
        <td>{{ score.fldFName }}</td>
        <td>{{ score.ssn }}</td>
        <td>{{ score.test1 }}</td>
        <td>{{ score.test2 }}</td>
        <td>{{ score.test3 }}</td>
        <td>{{ score.test4 }}</td>
        <td>{{ score.final }}</td>
        <td>{{ score.grade }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}